<ion-view view-title="2x2 Resolution">
  <ion-content class="padding">
    <ion-list>
        <ion-item>
            <h4>{{input}}</h4>
        </ion-item>
        <ion-item>
            <div class="row">
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='1')">
                        1
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='2')">
                        2
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='3')">
                        3
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='4')">
                        4
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='5')">
                        5
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='6')">
                        6
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='7')">
                        7
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='8')">
                        8
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='9')">
                        9
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='0')">
                        0
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px" ng-click="press(value='.')">
                        .
                    </button>
                </div>
                <div class="col" align="center">
                    <button class="button button-calm" style="height:76px;width:76px"  ng-click="check()">
                        =
                    </button>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <button class="button button-calm" ng-click="newpin()"> New PIN </button>
            <h4>Please input PIN: {{random}}</h4>
        </ion-item>
    </ion-list>
</ion-view>
